{% extends 'layouts/layouts.twig' %}

{% block content %}
    <section id="login">
        <div class="container">
            <div class="form-wrapper">
                <h2>Masuk ke Sistem</h2>
                <p>&nbsp;</p>
                {#<form action="" method="post">#}
                    {#<div class="form-group">#}
                        {#<label for="email">E-mail</label>#}
                        {#<input type="text" name="email" id="email" class="form-control">#}
                    {#</div>#}
                    {#<div class="form-group">#}
                        {#<label for="password">Kata sandi</label>#}
                        {#<input type="password" name="password" id="password" class="form-control" required>#}
                    {#</div>#}
                    {#<div class="form-check">#}
                        {#<label class="form-check-label">#}
                            {#<input type="checkbox" class="form-check-input">#}
                            {#Ingat Saya#}
                        {#</label>#}
                    {#</div>#}
                    {#<div class="form-group">#}
                        {#<input type="submit" class="form-control btn btn-yellow" value="Masuk">#}
                    {#</div>#}
                {#</form>#}

                {{ form_start(form,{'method':'POST','action':'','attr':{'class':'form-horizontal'}}) }}
                <div class="form-group">
                    <label for="login_form_email">E-mail</label>
                    {{ form_row(form.email) }}
                </div>
                <div class="form-group">
                    <label for="login_form_password">Kata sandi</label>
                    {{ form_row(form.password) }}
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Ingat Saya
                    </label>
                </div>
                <div class="form-group">
                    {{ form_row(form.kirim) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>

{% endblock %}