{% extends 'layouts/dashboard_layouts.twig' %}

{% block dashboard_content %}
    <p>Nama Depan : {{ data.firstName }}</p>
    <p>Nama Belakang : {{ data.lastName }}</p>
    <p>Email : {{ data.email }}</p>
    <p>No.Hp : {{ data.noHp }}</p>
    <p>Jenis Kelamin :
        {% if data.jenisKelamin == '0' %}
            Laki-laki
        {% else %}
            Perempuan
        {% endif %}
    </p>
    <p>Alamat : {{ data.alamat }}</p>
{% endblock %}